html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

ul li div a:hover {
    background-color: #343a40 !important;
}

#productMainImage:hover, #categoryMainImage:hover {
    cursor: pointer;
}
