﻿@model Category

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for=Id hidden />
    <input asp-for=ImageUrl hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Kategória @(Model.Id != 0 ? "szerkesztése" : "létrehozása")</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control"/>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="mb-3">
			<label asp-for="ImageUrl"></label>
			<input type="file" id="uploadBox" name="file" class="form-control" />
		</div>
        @{
            if (Model.Id != 0)
            {
                <button type="submit" class="btn btn-primary" style="width: 150px;">Frissítés</button>
            }
            else
            {
                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width: 150px;">Létrehoz</button>
            }
        }
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width: 150px;">Vissza a kategóriákhoz</a>
    </div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
    <script>

       function ValidateInput(){
           if(document.getElementById("uploadBox").value == ""){
               Swal.fire({
			      icon: 'error',
			      title: 'Uupsz...',
			      text: 'Tölts fel egy borítóképet!',
			    });
                return false;
           }
           return true;
       }
    </script>
}
