﻿@using GarageStore.Utility
@model GarageStore.Models.ViewModels.ShoppingCartVM

<form method="post">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-light ml-0">
				<div class="row">
					<div class="col-6  pt-2">
						<strong>Kosár</strong>
					</div>
					<div class="col-6 text-end">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-dark btn-sm">Vásárlás folytatása</a>
					</div>
				</div>
			</div>

			<div class="card-body">
				@foreach(var item in Model.ListCart)
				{
					<div class="row">
						<div class="d-none d-lg-block col-lg-1 text-center py-2">
							<img src="@item.Product.MainImageUrl" class="rounded" width="100%" />
						</div>
						<div class="col-12 col-lg-6 pt-md-3">
							<h5><strong>@item.Product.Title</strong></h5>
							<p><small>@Html.Raw(item.Product.Description)</small></p>
						</div>
						<div class="col-12  col-lg-5 text-center row">
							<div class="col-4 text-md-right pt-4">
								<h6><strong>@item.Product.Price Ft
									<span class="text-muted">x&nbsp;</span>@item.Count db</strong></h6>
							</div>
							<div class="col-6 col-sm-4 col-lg-6 pt-2">
								<div class="w-75 btn-group" role="group">
									<a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-primary">
										<i class="bi bi-plus-square"></i>
									</a> &nbsp;
									<a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-warning">
										<i class="bi bi-dash-square"></i>
									</a>
								</div>

							</div>
							<div class="col-2 col-sm-4 col-lg-2 text-right pt-2">
								<a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-danger">
									<i class="bi bi-trash-fill"></i>
								</a>
							</div>
						</div>
					</div>
					<hr />
				}
				<div class="row">
					@{
						if(Model.ListCart != null && Model.ListCart.Count() > 0)
						{
							int current = (int)((Model.OrderHeader.OrderTotal / SD.Delivery_Fee_Zero_Limit) * 100);
							int remaining = 100 - current;
							if (current >= 100)
							{
								current = 100;
								remaining = 0;
							}
							<div class="col-12 col-md-6 col-lg-8">
									<div class="progress" style="height: 30px;">
										<div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: @(current)%;">
											<span class="sr-only">@Model.OrderHeader.OrderTotal Ft</span>
										</div>
										<div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: @(remaining)%;">
											<span class="sr-only">@(SD.Delivery_Fee_Zero_Limit - Model.OrderHeader.OrderTotal) Ft</span>
										</div>
									</div>

									<div class="col-6 col-lg-8 text-center">@(current == 100 ? "Ingyenes házhozszállítási limit elérve" : "Az ingyenes házhozszállításhoz")</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4 pr-4">
									<ul class="list-group">
										<li class="list-group-item d-flex justify-content-between bg-light">
											<span class="text-info">Összesen (HUF)</span>
												<strong class="text-info">@Model.OrderHeader.OrderTotal Ft</strong>
										</li>
									</ul>
								</div>
							}
							else
							{
								<div class="container p-3">
									<div class="row text-center">
										<h2>A kosár tartalma üres.</h2>
									</div>
								</div>
							}
					}
				</div>
			</div>
			<div class="card-footer">
				<div class="card-footer row">
					<div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
						@{
							if(Model.ListCart != null && Model.ListCart.Count() > 0 && Model.OrderHeader.OrderTotal >= SD.Minimum_Order_Value)
							{
								<a asp-action="Summary" class="btn btn-success form-control">Összegzés</a>
							}
							else
							{
								<h4 class="text-danger">A minimum rendelési összeg @SD.Minimum_Order_Value Ft!</h4>
							}
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
