﻿@model int

<div class="container row justify-content-center pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Rendelés sikeresen leadva!</h1>
        Rendelés száma : #@Model <br /><br />
    </div>
    <div class="col-lg-4 text-center">
        <img src="~/images/order_confirmation.png" class="img-fluid" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        A rendelése sikeresen le lett adva! E-mail-ben küldjük a részleteket a megadott címre.<br />
    </div>
</div> 
