﻿@model GarageStore.Models.ViewModels.ShoppingCartVM

<form method="post">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-light ml-0">
				<div class="row container">
					<div class="col-6">
						<i class="fa fa-shopping-cart"></i> &nbsp;
						<strong>Rendelés összesítése</strong>
					</div>
					<div class="col-6 text-end">
						<a asp-action="Index" class="btn btn-dark btn-sm">Vissza a kosárhoz</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Szállítási adatok:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Név</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderHeader.Name" class="form-control" />
									<span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>E-mail cím</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderHeader.Email" class="form-control" />
									<span asp-validation-for="OrderHeader.Email" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Telefonszám</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderHeader.PhoneNumber" class="form-control" placeholder="+3630xxxxxxx" />
									<span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Utca, házszám</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderHeader.StreetAddress" class="form-control" />
									<span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Város</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderHeader.City" class="form-control" />
									<span asp-validation-for="OrderHeader.City" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Irányítószám</label>
								</div>
								<div class="col-9">
									<input asp-for="OrderHeader.PostalCode" class="form-control" />
									<span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Szállítási opció</label>
								</div>
								<div class="col-9">
									<select id="deliveryOptionSelect" asp-for="OrderHeader.DeliveryOptionId" asp-items="@Model.DeliveryOptions" class="form-select">
										<option disabled selected>--Válasszon szállítási opciót--</option>
									</select>
								</div>
							</div>
							<div id="deliveryPointDiv" class="row my-1">
								<div class="col-3">
									<label>Kézbesítési pont</label>
								</div>
								<div class="col-9">
									<input id="deliveryPointText" asp-for="OrderHeader.DeliveryPoint" class="form-control" />
									<span asp-validation-for="OrderHeader.DeliveryPoint" class="text-danger"></span>
								</div>
							</div>
							<div id="deliveryPointLinksDiv" class="row my-1">
								<div class="col-3">
									<label>Átvevőhelyek</label>
								</div>
								<div class="col-9">
									<a id="deliveryPointLinks" href="#" target="_blank"></a>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-info">Rendelés összesítő:</span>
							</h4>
							<ul id="summaryList" class="list-group mb-3">
								@foreach(var details in Model.ListCart)
								{
									<li class="list-group-item d-flex justify-content-between">
										<div>
											<h6 class="my-0">@details.Product.Title</h6>
											<small class="text-muted">Mennyiség: @details.Count db</small>
										</div>
										<span class="text-muted">@(details.Price * details.Count) Ft</span>
									</li>
								}
								<li id="feeSummary" class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-info">Összesen (HUF)</small>
									<strong class="text-info">@Model.OrderHeader.OrderTotal Ft</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 col-md-8 pt-2">
						<p style="color:maroon; font-size:14px;">Várható szállítási dátum:
						@DateTime.Now.AddDays(3).ToShortDateString() - @DateTime.Now.AddDays(7).ToShortDateString()	
						</p>
					</div>
					<div class="col-12 col-md-4">
						<button type="submit" value="Rendelés leadása" class="btn btn-primary form-control">Rendelés leadása</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		$(document).ready(function(){
			$('#deliveryPointDiv').hide();
			$('#deliveryPointLinksDiv').hide();
			$('#deliveryOptionSelect').change(function(){
				var val = $('#deliveryOptionSelect').val();

				$.ajax({
					url: "/Customer/Cart/GetDeliveryDataForId/" + val,
					type: 'GET',
					dataType: 'json', // added data type
					success: function(res) {
						var fee = 0;
						if (@Model.OrderHeader.OrderTotal < @GarageStore.Utility.SD.Delivery_Fee_Zero_Limit){
							fee = res.data.fee;
						}
						$('#feeSummary').remove();
						$('#feeItem').remove();
						$('#summaryList').append(`<li id="feeItem" class="list-group-item d-flex justify-content-between">
										<div>
											<h6 class="my-0">+ Szállítási költség</h6>
										</div>
										<span class="text-muted">`+fee+` Ft</span>
									</li>`);
						$('#summaryList').append(`<li id="feeSummary" class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-info">Összesen (HUF)</small>
									<strong class="text-info">` +(@Model.OrderHeader.OrderTotal+fee)+` Ft</strong>
								</li>`);
						if(res.data.isExactAddress == false)
						{
							$('#deliveryPointDiv').show();
							$('#deliveryPointText').val('');
						}else{
							$('#deliveryPointDiv').hide();
							$('#deliveryPointText').val('Ugyanaz, mint a cím');
						}
						if(res.data.deliveryPointsLink != null){

							$('#deliveryPointLinks').attr("href", res.data.deliveryPointsLink);
							$('#deliveryPointLinks').text(res.data.deliveryPointsLink);
							$('#deliveryPointLinksDiv').show();
						}else{
							$('#deliveryPointLinksDiv').hide();
						}
					}
				});
			})
		})
	</script>
}