﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Elfelejtett jelszó megerősítése";
}

<h1>@ViewData["Title"]</h1>
<p>
    Nézze meg az e-mail-jeit, hogy vissza tudja állítani jelszavát.
</p>
