﻿@page
@model LockoutModel
@{
    ViewData["Title"] = "Kizárva";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ez a felhasználó ki lett zárva, kérem próbálja újra később.</p>
</header>
