﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Jelszó visszaállításának megerősítése";
}

<h1>@ViewData["Title"]</h1>
<p>
    A jelszava vissza lett állítva. Kérem <a asp-page="./Login">kattintson ide a belépéshez</a>.
</p>
