﻿<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Termék lista</h2>
		</div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
               <i class="bi bi-plus-circle"></i> &nbsp; Új termék létrehozása
			</a>
		</div>
	</div>
    <br /><br />

<table id="tblData" class="table table-bordered table-striped table-dark" style="width:100%;">
    <thead>
        <tr>
            <th>Kép</th>
            <th>Név</th>
            <th>Ár</th>
            <th>Elérhető mennyiség</th>
            <th>Állapot</th>
            <th>Méret</th>
            <th>Elérhető</th>
            <th></th>
		</tr>
	</thead>
</table>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}