﻿@model GarageStore.Models.ViewModels.ProductVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for=Product.Id hidden />
    <input asp-for=Product.MainImageUrl hidden />
    <div class="row">
        <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Termék @(Model.Product.Id != 0 ? "szerkesztése" : "létrehozása")</h2>
            <hr />
        </div>
        <div class="mb-3 col-12">
            <label asp-for="Product.Title"></label>
            <input asp-for="Product.Title" class="form-control"/>
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="mb-3 col-12">
            <label asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" rows="3" class="form-control"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.ListPrice"></label>
            <input asp-for="Product.ListPrice" class="form-control"/>
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control"/>
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Size"></label>
            <textarea asp-for="Product.Size" rows="1" class="form-control"></textarea>
            <span asp-validation-for="Product.Size" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.AvailableAmount"></label>
            <input asp-for="Product.AvailableAmount" class="form-control"/>
            <span asp-validation-for="Product.AvailableAmount" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.CategoryId"></label>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                <option selected disabled>--Válassz kategóriát--</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.ConditionId"></label>
            <select asp-for="Product.ConditionId" asp-items="@Model.ConditionList" class="form-select">
                <option selected disabled>--Válassz állapotot--</option>
            </select>
            <span asp-validation-for="Product.ConditionId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.FacebookLink"></label>
            <input asp-for="Product.FacebookLink" class="form-control"/>
            <span asp-validation-for="Product.FacebookLink" class="text-danger"></span>
        </div>
        <div class="mb-3">
			<label asp-for="Product.MainImageUrl"></label>
			<input type="file" id="uploadMainImageBox" name="file" class="form-control" />
		</div>
        <div class="mb-3">
			<label asp-for="Product.ProductGallery"></label>
			<input type="file" id="uploadProductGalleryBox" name="files" class="form-control" multiple/>
		</div>
        <div class="mb-3">
            <label asp-for="Product.IsAvailable"></label>
            <input asp-for="Product.IsAvailable" />
        </div>
        @{
            if (Model.Product.Id != 0)
            {
                <button type="submit" class="btn btn-primary" style="width: 150px;">Frissítés</button>
            }
            else
            {
                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width: 150px;">Létrehoz</button>
            }
        }
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width: 150px;">Vissza a termékekhez</a>
    </div>
    </div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
    <script>

       function ValidateInput(){
           if(document.getElementById("uploadMainImageBox").value == ""){
               Swal.fire({
			      icon: 'error',
			      title: 'Uupsz...',
			      text: 'Tölts fel egy borítóképet!',
			    });
                return false;
           }else if(document.getElementById("uploadProductGalleryBox").value == ""){
               Swal.fire({
			      icon: 'error',
			      title: 'Uupsz...',
			      text: 'Tölts fel képeket a galériába!',
			    });
                return false;
           }
           return true;
       }
    </script>
}
