﻿@model GarageStore.Models.ViewModels.OrderVM
@using GarageStore.Utility

<form method="post">
	<input asp-for="OrderHeader.Id" hidden />
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-light ml-0">
				<div class="container row">
				<div class="col-12 d-none d-md-block col-md-6 pb-1">
					<i class="fas fa-shopping-cart"></i> &nbsp; Rendelés összesítő
				</div>
				<div class="col-12 col-md-4 offset-md-2 text-right">
					<a asp-action="Index" class="btn btn-dark form-control btn-sm">Vissza a rendelésekhez</a>
				</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-primary">Szállítási adatok:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">Név</div>
								<div class="col-9">
									@if (User.IsInRole(SD.Role_Admin))
									{
										<input asp-for="OrderHeader.Name" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.Name" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Telefonszám</div>
								<div class="col-9">
									@if (User.IsInRole(SD.Role_Admin))
									{
										<input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.PhoneNumber" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Utca, házszám</div>
								<div class="col-9">
									@if (User.IsInRole(SD.Role_Admin))
									{
										<input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.StreetAddress" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Város</div>
								<div class="col-9">
									@if (User.IsInRole(SD.Role_Admin))
									{
										<input asp-for="OrderHeader.City" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.City" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.City" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Irányítószám</div>
								<div class="col-9">
									@if (User.IsInRole(SD.Role_Admin))
									{
										<input asp-for="OrderHeader.PostalCode" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.PostalCode" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">E-mail cím</div>
								<div class="col-9">
									<input asp-for="OrderHeader.Email" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Rendelés dátuma</div>
								<div class="col-9">

									<input value="@Model.OrderHeader.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />

								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Futár és opció</div>
								<div class="col-9">
									<input asp-for="OrderHeader.DeliveryOption.OptionName" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Kézbesítési pont</div>
								<div class="col-9">
									<input asp-for="OrderHeader.DeliveryPoint" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Csomagszám</div>
								<div class="col-9">
									@if (User.IsInRole(SD.Role_Admin))
									{
										<input asp-for="OrderHeader.TrackingNumber" id="trackingNumber" type="text" class="form-control" />
									}
									else
									{
										<input asp-for="OrderHeader.TrackingNumber" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Szállítási dátum</div>
								<div class="col-9">
									<input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" type="text" readonly class="form-control" />
								</div>
							</div>
							@*<div class="row my-1">
								@if (Model.OrderHeader.SessionId == null)
								{
									<div class="col-3">Payment Due Date</div>
									<div class="col-9">
										<input value="@Model.OrderHeader.PaymentDueDate.ToShortDateString()"
										   readonly type="text" class="form-control" />
									</div>
								}
								else
								{
									<div class="col-3">Payment Date</div>
									<div class="col-9">
										<input value="@Model.OrderHeader.PaymentDate.ToShortDateString()"
										   readonly id="paymentDate" type="text" class="form-control" />
									</div>
								}
							</div>*@
							<div class="row my-1">
								<div class="col-3">Fizetési státusz</div>
								<div class="col-9">
									<input asp-for="OrderHeader.PaymentStatus" type="text" readonly class="form-control" />
								</div>
							</div>
							@*<input type="submit" asp-action="UpdateOrderDetails" class="btn btn-warning form-control my-1" value="Szállítási adatok frissítése" />*@
							


						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-primary">Rendelési összesítő</span>
							</h4>
							<label class="btn btn-outline-primary form-control my-2">Rendelési státusz - @Model.OrderHeader.OrderStatus</label>

							<ul class="list-group mb-3">
								@foreach (var detail in Model.OrderDetails)
								{
									<li class="list-group-item d-flex justify-content-between p-2">
										<div class="row container">
											<div class="col-8">

												<h6 class="my-0 text-primary">@detail.Product.Title</h6>
												<small class="text-muted">Ár: @detail.Price Ft</small><br />
												<small class="text-muted">Mennyiség: @detail.Count</small>
											</div>
											<div class="col-4 text-end">
												<p class="text-success">@(detail.Count * detail.Price) Ft</p>
											</div>
										</div>
									</li>
								}
								<li class="list-group-item d-flex justify-content-between p-2">
										<div class="row container">
											<div class="col-8">

												<h6 class="my-0 text-primary">+ Szállítási költség</h6>
												<small class="text-muted">@Model.OrderHeader.DeliveryOption.OptionName</small>
											</div>
											<div class="col-4 text-end">
												<p class="text-success">@(Model.OrderHeader.OrderTotal < SD.Delivery_Fee_Zero_Limit ? Model.OrderHeader.DeliveryOption.Fee : 0) Ft</p>
											</div>
										</div>
									</li>
								<li class="list-group-item bg-info">
									<div class="row container">
										<div class="col-6">
											<h5 class="text-white">Összesen:</h5>
										</div>
										<div class="col-6 text-end">
											<h5 class="text-white">@Model.OrderHeader.OrderTotal Ft</h5>
										</div>
									</div>
								</li>
							</ul>
							@*@if (Model.OrderHeader.PaymentStatus == SD.PaymentStatusDelayedPayment &&
										Model.OrderHeader.OrderStatus == SD.StatusShipped)
								{
									<input type="submit" class="btn btn-success form-control my-1" value="Pay Now" />
								}*@
							@if (User.IsInRole(SD.Role_Admin))
							{
								if (Model.OrderHeader.OrderStatus == SD.Status_Approved)
								{
									@*<input type="submit" asp-action="StartProcessing" class="btn btn-primary form-control my-1" value="Start Processing" />*@
								}
								@*if (Model.OrderHeader.OrderStatus == SD.Status_InProcess)
								{
									<input type="submit" onclick="return validateInput()"
									asp-action="ShipOrder" class="btn btn-primary form-control my-1" value="Ship Order" />
								}*@
								
								@*@if (Model.OrderHeader.OrderStatus != SD.StatusRefunded &&
										Model.OrderHeader.OrderStatus != SD.StatusCancelled &&
								Model.OrderHeader.OrderStatus!=SD.StatusShipped)
								{
									<input type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1" value="Cancel Order" />
								}*@
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
<script>
	function validateInput(){
		if(document.getElementById("trackingNumber").value==""){
			Swal.fire({
			  icon: 'error',
			  title: 'Oops...',
			  text: 'Please enter tracking number!',
			});
			return false;
		}
		if(document.getElementById("carrier").value==""){
			Swal.fire({
			  icon: 'error',
			  title: 'Oops...',
			  text: 'Please enter carrier!',
			});
			return false;
		}
		return true;
	}
</script>

}