﻿@using GarageStore.Utility

@{
    var status = Context.Request.Query["status"];
    var pending = "text-primary";
    var approved = "text-primary";
    var shipped = "text-primary";
    var all = "text-primary";

    switch(status)
    {
        case "pending":
            pending = "active text-white";
            break;
        case "approved":
            approved = "active text-white";
            break;
        case "shipped":
            shipped = "active text-white";
            break;
        default:
            all = "active text-white";
            break;
    }
}

<div class="p-3">
    <div class="d-flex justify-content-between pt-4">
        <div class="p-2">
            <h2 class="text-primary">Rendelés lista</h2>
		</div>
        <div class="p-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration: none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="pending">
                    <li class="list-group-item @pending">@SD.Status_Pending</li>
                </a>
                <a style="text-decoration: none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="approved">
                    <li class="list-group-item @approved">@SD.Status_Approved</li>
                </a>
                <a style="text-decoration: none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="shipped">
                    <li class="list-group-item @shipped">@SD.Status_Shipped</li>
                </a>
                <a style="text-decoration: none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="all">
                    <li class="list-group-item @all">Összes</li>
                </a>
            </ul>
		</div>
	</div>
    <br /><br />

<table id="tblData" class="table table-bordered table-striped table-dark" style="width:100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Név</th>
            <th>Telefonszám</th>
            <th>E-mail</th>
            <th>Státusz</th>
            <th>Összesen</th>
            <th></th>
		</tr>
	</thead>
</table>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}