﻿@using GarageStore.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Garage Store</title>
    <link rel="stylesheet" href="~/css/bootSwatchTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css" />
    <link rel="icon" type="image/png" href="~/images/logo.png" />
</head>
<body>
    <div class="container pb-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container-fluid">
    <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index"><img src="\images\logo.png" alt="" width="30" height="30" class="d-inline-block align-text-middle">Garage Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Főoldal</a>
        </li>
        @if (User.IsInRole(SD.Role_Admin))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tartalom kezelés</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Kategória</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Termék</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Új felhasználó</a>
                </div>
            </li>
        }
        <li class="nav-item">
          <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Rendelés kezelés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                    @await Component.InvokeAsync("ShoppingCart")
            </a>
        </li>
      </ul>
        <form method="get" asp-area="Customer" asp-controller="Home"  asp-action="Index" class="navbar-form navbar-right" role="search">
            <div class="input-group">
              <input id="searchText" type="text" class="form-control" placeholder="Keresés" value="@ViewData["GetSearchDetails"]" name="searchValue" onkeyup="checkSearchInput()">
                <span class="input-group-btn">
                    <button type="submit" id="searchButton" class="btn btn-default" disabled>
                    <i class="bi bi-search"></i>
                    </button>
                </span>
            </div>
        </form>
      <partial name="_LoginPartial" />
    </div>
  </div>
</nav>
</div>
    <div class="container pt-5">
        <main role="main" class="pb-3">
            @RenderBody()
            <partial name="_Notification" />
        </main>
    </div>

    <footer class="footer bg-primary text-center">
        <p class="lead text-white">Garage Store</p>
        <a href="#" class="position-absolute bottom-0 end-0 p-1">
            <i class="bi bi-arrow-up-circle h2 text-white"></i>
        </a>
    <footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        function checkSearchInput(){
            var text = document.getElementById("searchText").value.trim();
            var cansubmit = (text.length < 2);
            document.getElementById("searchButton").disabled = cansubmit;
        };
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
