﻿@model IEnumerable<Product>

<div class="row pb-3">
	@if (Model == null || Model.Count() == 0)
	{
		<h2 class="pt-5 text-primary">Nincs termék! :(</h2>
	}
	else
	{
		<h3>@TempData["searchedItems"]</h3>
		foreach(var product in Model)
		{
			<div class="col-lg-3 col-md-6">
				<div class="row p-2">
					<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
						<div class="card">
							<img id="productMainImage" src="@product.MainImageUrl" onclick="location.href='@Url.Action("Details", "Home", new { productId = @product.Id })'" class="card-img-top rounded" />

							<div class="card-body">
							<div class="pl-1">
								<p class="card-title h5 text-primary">@product.Title</p>
								@*<p class="card-title text-info">by <b>@product.Author</b></p>*@
							</div>
							<div class="pl-1">
								<p>Lista ár: <strike><b>@product.ListPrice Ft</b></strike></p>
							</div>
							@{
								if(product.IsAvailable)
								{
									<div class="pl-1">
										<p>Ennyiért: <b>@product.Price Ft</b></p>
									</div>
								}
								else
								{
									<div class="pl-1">
										<p class="text-danger"><b>A termék jelenleg nem elérhető!</b></p>
									</div>
								}
							}
							</div>
						</div>
						<div>
							<a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">
								Részletek
							</a>
						</div>
					</div> 
				</div>
			</div>
		}
	}
</div>