﻿@model ShoppingCart

<form method="post">
    <input hidden asp-for="ProductId" />
        <div class="card  container">
            <div class="card-header bg-primary text-light ml-0  row ">
                <div class="col-12 col-md-8">
                    <h1 class="text-white-50">@Model.Product.Title</h1>
                </div>
                <div class="col-12 col-md-4 text-end pt-4">
                    <span class="badge bg-info pt-2" style="height:30px;">@Model.Product.Category.Name</span>
                    <span class="badge bg-warning pt-2" style="height:30px;">@Model.Product.Condition.Name</span>
                </div>
            </div>
            <div class="card-body row container">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-8 col-lg-8">
                            <div class="row pl-2">
                                <h5 class="text-muted pb-3">Lista ár: <strike>@Model.Product.ListPrice Ft</strike></h5>
                            </div>
                            @*<div class="row text-center pl-2">
                                <div class="p-1 col-2 bg-secondary border-bottom">
                                    <div>Quantity</div>
                                </div>
                                <div class="p-1 col-2 bg-secondary border-bottom">
                                    <div>1-50</div>
                                </div>
                                <div class="p-1 col-2 bg-secondary border-bottom">
                                    <div>51-100</div>
                                </div>
                                <div class="p-1 col-2 bg-secondary border-bottom">
                                    <div>100+</div>
                                </div>
                            </div>*@
                            @*<div class="row text-center pl-2" style="color:maroon; font-weight:bold">
                                <div class="p-1 col-2 bg-secondary">
                                    <div>Price</div>
                                </div>
                                <div class="p-1 col-2 bg-secondary">
                                    <div>@Model.Product.Price.ToString("c")</div>
                                </div>
                                <div class="p-1 col-2 bg-secondary">
                                    <div>@Model.Product.Price50.ToString("c")</div>
                                </div>
                                <div class="p-1 col-2 bg-secondary">
                                    <div>@Model.Product.Price100.ToString("c")</div>
                                </div>
                            </div>*@
                            <div class="row pl-2">
                                <h5 class="text-muted pb-3">Ár: @Model.Product.Price Ft</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted pb-3">Leírás: </h5><p class="text-info">@Html.Raw(Model.Product.Description)</p>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted pb-3">Méret: </h5><p class="text-info">@Model.Product.Size</p>
                            </div>
                            @{
                                if (Model.Product.IsAvailable)
                                {
                                    if (Model.Product.FacebookLink != null && Model.Product.FacebookLink.Length > 0)
                                    {
                                        <div class="row pl-2">
                                            <p class="text-info">Facebook link: <a href="@Model.Product.FacebookLink" target="_blank"><img src="~/images/facebook.png" width="20px" class="img-rounded" /></a></p>
                                        </div>
                                    }
                                    <div class="row pl-2">
                                        <p class="text-info">Elérhető mennyiség: @Model.Product.AvailableAmount db</p>
                                    </div>
                                    <div class="row pl-2">
                                        <div class="col-md-4 col-12 text-primary"><h3>Mennyiség</h3></div>
                                        <div class="col-10">
                                            <input asp-for="Count" class="form-control" />
                                            <span asp-validation-for="Count" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row pl-2">
                                        <h2 class="text-danger">A termék jelenleg nem elérhető!</h2>
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1 text-center">
                            <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                              <div class="carousel-indicators">
                                  @{
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
                                    for(int i=0; i<Model.Product.ProductGallery.Count(); i++)
                                    {
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@(i+1)" aria-current="true" aria-label="Slide @(i+1)"></button>
                                    }
                                }
                                </div>
                                <div class="carousel-inner">
                                @{
                                    <div class="carousel-item active">
                                        <img src="@Model.Product.MainImageUrl" class="d-block w-100" alt="kép-1">
                                    </div>
                                    foreach(var item in Model.Product.ProductGallery)
                                    {
                                        <div class="carousel-item">
                                            <img src="@item.Url" class="d-block w-100" alt="...">
                                        </div>
                                    }
                                  }
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Előző</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Következő</span>
                              </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <button type="button" value="Vissza" onclick="location.href='@Url.Action("Category", "Home", new { categoryId = @Model.Product.CategoryId })'" class="btn btn-danger form-control" style="height:50px;">Vissza</button>
                    </div>
                    <div class="col-12 col-md-6 pb-1">
                        <button type="submit" value="Kosárba" class="btn btn-success form-control" style="height:50px;" disabled="@(!Model.Product.IsAvailable)">Kosárba</button>
                    </div>
                </div>
            </div>
        </div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}