﻿@model IEnumerable<Category>

<div class="row pb-3">
	@foreach(var category in Model.OrderBy(u => u.DisplayOrder))
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card">
						<img id="categoryMainImage" src="@category.ImageUrl" onclick="location.href='@Url.Action("Category", "Home", new { categoryId = @category.Id })'" class="card-img-top rounded"/>

						<div class="card-body">
							<div class="pl-1">
								<p class="card-title h5 text-primary">@category.Name</p>
							</div>
						</div>
					</div>
					<div>
						<a asp-action="Category" class="btn btn-primary form-control" asp-route-categoryId="@category.Id">
							Részletek
						</a>
					</div>
				</div> 
			</div>
		</div>
	}
</div>